
#title{
	font-style: italic;
	color: #030202;
	text-align: center;
}

#Lcanvas{
	border: 1px solid #ff0000;
    width: 800px;
	height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}