
#title{
	font-style: italic;
	color: #030202;
	text-align: center;
}

#Lcanvas{
	border: 1px solid #f90202;
    width: 900px;
	height: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}